
.wrapper{
    box-sizing: content-box;
    width: 600px;
    margin-left:  100px;
}

.tabs{
    margin-top: 100px; 
}
.tabs-nav{
    display: flex;
}

.tabs-nav__item{
    margin: 1px;
    padding: 10px;
    width: 110px;
    text-align: center;
    background-color: rgba(203, 199, 199, 1);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid rgba(203, 199, 199, 0.5);
    
}

.tabs-nav__item.is-active{
    border-bottom: 2px solid #EE82EE;
    background-color: rgba(238, 130, 238, 0.4);
    transition: .5s;
}
.tabs_big{
    width: 350px;
    height: 40px;
    padding: 20px;
    border-color: #f2f2f2;
    border: 2px solid #000;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);

    
}
.tab{
    display: none;
    
}

.tab.is-active{
    display: block;
}

.tab.acc{
    display: none;
}

.content{
    display: block;
}

.content__left{
    display: inline-block;
    min-width: 100px;
}
.content__right{
    display: inline-block;
    min-width: 100px;
}

.sell{
    width: 300px;
    display: flex;
    justify-content: space-between;
    
    
    
}

.num{
    background-color: rgba(203, 199, 199, 0.41);
    transition: .5s;
}

@media screen and (max-width: 768px){
    .wrapper{
    box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0 auto;
}
   .tabs-nav{
    display: flex;
    flex-direction: column;
    }
    .tabs_big{
        display: none;
    }
    .tab.acc.is-active{
        display: block;
    }
    .tabs-nav__item{
    margin: 1px;
    padding: 10px;
    text-align: center;
    background-color: rgba(203, 199, 199, 0.41);
    cursor: pointer;
        width: 25em;
    }
    
.content{
    display: block;
    
}

.content__left{
    display: inline-block;
    min-width: 200px;
    padding-bottom: 10px;
}
.content__right{
    display: inline-block;
    min-width: 50px;
}
    .tab{
    width: auto;
    padding: 10px;
    
}
    .sell{
    width: 350px;
    display: flex;
    justify-content: space-between;
    
    
}
    
}